name: CI

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*"

concurrency:
  # Skip intermediate builds: all builds except for builds on the `main` branch
  # Cancel intermediate builds: only pull request builds
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

permissions:
  contents: read

jobs:
  finalize:
    timeout-minutes: 10
    needs: [test, format]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo test: ${{ needs.test.result }}
          echo test: ${{ needs.format.result }}
      - run: exit 1
        if: |
          (needs.test.result != 'success') ||
          (needs.format.result != 'success')

  test:
    permissions:
      actions: write
      contents: read
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.6"
          - "1.11"
        os:
          - ubuntu-latest
          - macos-13
          - windows-latest
        # macOS 1.6 seems to consistently stall on `Plots` notebooks. Skip this
        # combination and test on a slightly newer macOS version instead.
        # 1.6 windows has recently stalled out on mimetypes, use 1.7 windows in
        # the tests. We still test 1.6 on Linux.
        exclude:
          - version: "1.6"
            os: macos-13
          - version: "1.6"
            os: windows-latest
          # Performance regressions on Julia 1.11 on Windows. Currently not
          # viable to run the test suite there.
          - version: "1.11"
            os: windows-latest
        include:
          - version: "1.7"
            os: macos-13
          - version: "1.7"
            os: windows-latest
          - version: "1.10"
            os: windows-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          persist-credentials: false

      - uses: julia-actions/setup-julia@9b79636afcfb07ab02c256cede01fe2db6ba808c # v2.6.0
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@824243901fb567ccb490b0d0e2483ccecde46834 # v2.0.5

      - uses: r-lib/actions/setup-r@e6be4b3706e0f39bc7a4cf4496a5f2c4cb840040 # v2.10.1
        with:
          use-public-rspm: true
          r-version: "4.3"
      - run: echo "LD_LIBRARY_PATH=$(R RHOME)/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        if: matrix.os == 'ubuntu-latest'

      # TODO: use quarto_jll for integration tests once modern enough versions are available
      - uses: quarto-dev/quarto-actions/setup@87b35bb88b36317fa36b5189e9553b4164a5c5a3 # v2.1.6
        with:
          version: pre-release

      - uses: julia-actions/julia-buildpkg@90dd6f23eb49626e4e6612cb9d64d456f86e6a1c # v1.6.0
      - uses: julia-actions/julia-runtest@1e03e0122a598a569004c1e26950e2547b350ec0 # v1.11.1
        with:
          depwarn: "yes"
      - uses: julia-actions/julia-processcoverage@03114f09f119417c3242a9fb6e0b722676aedf38 # v1.2.2
      - uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          verbose: true
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          persist-credentials: false
      - uses: julia-actions/setup-julia@9b79636afcfb07ab02c256cede01fe2db6ba808c # v2.6.0
        with:
          version: "1"
      - run: |
          julia --project=.ci -e 'using Pkg; Pkg.instantiate(); Pkg.precompile()'
          julia --project=.ci .ci/format.jl
